pipeline/run_sql_from_blob_files.json
{
	"name": "run_sql_from_blob_files",
	"properties": {
		"activities": [
			{
				"name": "get_sql_from_blob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "sp*.sql",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "devi_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop through files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_sql_from_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_sql_from_blob').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "set sql_statement",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sql_statement",
								"value": {
									"value": "@toUpper(item().Prop_0)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "EvaluateStatementType",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "set sql_statement",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(\nor(\nand(\nstartswith(variables('sql_statement'),'EXEC'),\ngreater(indexof(variables('sql_statement'),'@') ,0)\n)\n,not(startswith(variables('sql_statement'),'EXEC'))\n) ,'SP_PARAMS_OR_SQL',\n'SP_NO_PARAMS')\n\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SP_NO_PARAMS",
										"activities": [
											{
												"name": "exec_sp_no_params",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "poolwspcunha",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": {
														"value": "@trim(replace(variables('sql_statement'),'EXEC ' , ''))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "SP_PARAMS_OR_SQL",
										"activities": [
											{
												"name": "exec_sp_params",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlPoolSource",
														"sqlReaderQuery": {
															"value": "@concat(variables('sql_statement'),'select null;')",
															"type": "Expression"
														}
													},
													"dataset": {
														"referenceName": "devi_synapse_pool",
														"type": "DatasetReference"
													},
													"firstRowOnly": false
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "exec_sql",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlPoolSource",
												"sqlReaderQuery": {
													"value": "@variables('sql_statement')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "devi_synapse_pool",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"sql_statement": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Repro"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-07T23:00:53Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}