pipeline/run_sql_from_files_2.json
{
	"name": "run_sql_from_files_2",
	"properties": {
		"activities": [
			{
				"name": "get_sql_statement",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "*.sql",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "devi_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop through files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_sql_statement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_sql_statement').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "set sql_statement",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sql_statement",
								"value": {
									"value": "@concat(item().Prop_0, 'select null')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Sql Statement",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "set sql_statement",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"sqlReaderQuery": {
										"value": "@variables('sql_statement')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "devi_synapse_pool",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"sql_statement": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Repro"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-07T10:32:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}